@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .line-clamp-2 {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    
    .text-outline-red {
        color: transparent;
        -webkit-text-stroke: 2px red;
    }
    
    :root {
        --background-color: black;
    }

    body {
        background-color: var(--background-color);
    }

    input[type="text"]:focus {
        outline: none !important; 
    }
}

