@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .line-clamp-2 {
        display: -webkit-box;
        -webkit-line-clamp: 2; /* This controls how many lines are shown */
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis; /* This adds the ellipsis */
    }
    .text-outline-red {
        color: transparent; /* Membuat isi teks transparan sehingga hanya outline terlihat */
        -webkit-text-stroke: 2px red; /* Outline teks berwarna merah */
    }
}
