@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .line-clamp-2 {
        display: -webkit-box;
        -webkit-line-clamp: 2; /* This controls how many lines are shown */
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis; /* This adds the ellipsis */
    }
}
